/*The body, html trang san pham */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat';
    font-size: 20px;
}

/*Phan head trang san pham */
/*Background Head*/
#head {
    background: #B4EDFF;
    width: 100%;
    margin-bottom: 5vh;
    font-size: 20px;
}
/*Khung text navigation*/
#text-navigation{
    display: inline-block;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 4.1vh;
    color: #18A0FB;
    width: 55%;
    padding-left: 15%;
    height: 6vh;
    padding-top: 5vh;
}
/*Text navigation*/
#text-navigation > a{
    margin-right: 2.5%;
}
/*Khung button*/
#btn-navigation{
    display: inline-block;
    width: 20%;
    padding-top: 3.3vh;
    margin-left: 17vw;
}
/*Button*/
#btn-navigation > button{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 1.8vh;
    border-radius: 0.8vh;
    padding: 1.5% 7%;
    margin-left: 2%;
    border-width: 0.3vh;
    cursor: pointer;
}
/*Khung search*/
#thanh-search{
    margin-left: 20%;
    overflow: auto;
    padding-bottom: 2%;
    margin-top: 4vh;
}
/*Input text search bar*/
#thanh-search input[type=text] {
    padding: 1.2vh;
    font-size: 2vh;
    width: 76%;
    border: none;
    background: #f1f1f1;
    float: left;
}
/*Button search*/
#thanh-search button {
    background: #2196F3;
    color: black;
    font-size: 3vh;
    border: 0.1vh solid grey;
    border-left: none;
    cursor: pointer;
    float: left;
    padding: 0.3vh 1vh;
}
#thanh-search button:hover {
    background: #0b7dda;
}
/*Khung cart*/
#cart{
    float: left;
    margin-left: 2%;
    margin-top: -1.8vh;
    font-size: 5.5vh;
    color: black;
    cursor: pointer;
}
#cart:hover{
    color: #0b7dda;
}

/*Phan noi dung trang*/
/*Khung noi dung*/
#frame-content{
    display: flex;
    justify-content: center;
    gap: 3vh;
}
/*Khung filter*/
#filter{
    display: flex;
    flex-direction: column;
    width: 23vw;
    box-sizing: border-box;
}
/*Khung noi dung filter*/
.frame-filter{
    display: flex;
}
/*Khung checkbox*/
#frame-checkbox-1{
    display: flex;
    flex-direction: column;
    gap: 4vh;
    width: 11%;
}
#frame-checkbox-1 input[type=checkbox]{
    width: 2.7vh;
    height: 2.7vh;
}
/*Khung label*/
#frame-label-1{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    color: #4F4F4F;
    gap: 3.1vh;
    line-height: 3.55vh;
}
/*Khung them va mui ten*/
.frame-them{
    display: flex;
    vertical-align: baseline;
    padding-top: 10%;
    vertical-align: middle;
    gap: 1vh;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 2vh;
    line-height: 4vh;
    cursor: pointer;
    justify-content: center;
}
/*icon arrow*/
.fa-chevron-down{
    transition: 1s all;
}
/*Animation khi click arrow*/
.rotate{
    transform: rotate(180deg);
}
/*Khung san pham*/
#content{
    display: flex;
    flex-direction: column;
    background: #B4EDFF;
    box-sizing: border-box;
    min-width: 80vw;
    margin-top: 1.5vh;
    
}
/*Text san pham*/
#text-sanpham{
    background: #FBE061;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 5vh;
    line-height: 10vh;
    letter-spacing: -0.015em;
    color: #000000;
    padding-left: 2.5vw;
}
/*Row table san pham*/
.row-table-san-pham{
    width: 25%;
}
/*San pham*/
.sanpham{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
/*Text ten san pham*/
.ten-sanpham{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 3vh;
    letter-spacing: -0.015em;
    color: #000000;
    margin: 0%;
    max-height: 9vh;
    overflow: hidden;
}
/*Text don gia san pham*/
.dongia-sanpham{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 2.5vh;
    line-height: 3vh;
    letter-spacing: -0.015em;
    color: #F27A62;
    margin: 4%;
}
#frame-pagi{
    
    display: flex; 
    justify-content: center;
}

/*Phan footer*/
/*CSS footer 1*/
#foot-1{
    margin-top: 6vh;
    width: 87vw;
    background: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
/*CSS text row 1 footer 1*/
#text-row1-foot1{
    margin-top: 10vh;
    margin-bottom: 2vh;
    margin-right: 3.5vw;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 4vw;
}
/*CSS p trong text row 1 footer 1*/
#text-row1-foot1 > p{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.7vh;
    color: #000000;
}
/*CSS text row 2 footer 1*/
#text-row2-foot1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    margin-top: 4vh;
    margin-bottom: 7vh;
}
/*CSS eclipse footer 1*/
.eclipse{
    border: 0.1vh solid #000000;
    box-sizing: border-box;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
}
/*CSS text row 3 footer 1*/
#text-row3-foot1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1vw;
    margin-bottom: 3vh;
}
/*CSS p trong text row 3 footer 1*/
#text-row3-foot1 > p{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6vh;
    text-align: center;
    color: #000000;
}
/*CSS footer 2*/
#foot-2{
    margin-top: 4vh;
    padding-top: 16vh;
    padding-bottom: 26vh;
    width: 87vw;
    Height: auto;
    background: #F2F2F2;
    display: flex;
}
/*CSS text trade footer 2*/
#text-foot2-1{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.58vh;
    line-height: 2.3vh;
    box-sizing: border-box;
    width: 30%;
    margin-left: 10%;
    gap: 1vh;
}
/*CSS text contact footer 2*/
#text-foot2-2{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.58vh;
    line-height: 2.3vh;
    width: 15%;
    gap: 2vh;
}
/*CSS text features footer 2*/
#text-foot2-3{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.58vh;
    line-height: 2.3vh;
    width: 15%;
    gap: 2vh;
}
/*CSS text resources footer 2*/
#text-foot2-4{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.58vh;
    line-height: 2.3vh;
    width: 15%;
    gap: 2vh;
}
/*CSS text company footer 2*/
#text-foot2-5{
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.58vh;
    line-height: 2.3vh;
    width: 15%;
    gap: 2vh;
}
/* pagination */
.pagination-outer{ text-align: center; }
.pagination{
    font-family: 'Ubuntu', sans-serif;
    display: inline-flex;
    position: relative;
}
.pagination li a.page-link{
    color: #FFFFFF;
    background: #696969;
    font-size: 20px;
    font-weight: 600;
    line-height: 41px;
    height: 42px;
    width: 42px;
    padding: 0 4px;
    margin: 0;
    border: none;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
    margin-left:-3px
}
.pagination li a.page-link:hover,
.pagination li a.page-link:focus,
.pagination li.active a.page-link:hover,
.pagination li.active a.page-link{
    color: #000000;
    background:#DCDCDC;
}
.pagination li a.page-link:before{
    content: '';
    background: #666666;
    height: 4px;
    width: 70%;
    border-radius: 50%;
    transform: translateX(-50%) scale(0);
    position: absolute;
    left: 50%;
    top: calc(100% + 3px);
    z-index: -1;
    transition: all 0.3s ease 0s;
    opacity:.5;
}
.pagination li a.page-link:hover:before,
.pagination li a.page-link:focus:before,
.pagination li.active a.page-link:before{
    opacity: 1;
    transform: translateX(-50%) scale(1);
}
.page-item{
  display:inline-block;
  margin:0;
}
@media only screen and (max-width: 480px){
    .pagination{
        font-size: 0;
        display: inline-block;
    }
    .pagination li{
        display: inline-block;
        vertical-align: top;
        margin: 0 0 20px;
    }
}  
a.disabled {
    pointer-events: none;
    cursor: default;
    opacity: .75;
  }
  a.close.disabled {
    pointer-events: none; }

    .btnnav{
        padding-left: 10px;
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    
    #btnlogin {
        background-color: #A8DBFE;
        color: #18A0FB;
        border: 1px solid #18A0FB;
        box-sizing: border-box;
        border-radius: 6px;
        text-align: center;
        width: 100px;
        height: 40px;
        margin-right: 5px;
    }
    
    #btnregister {
        background-color: #18A0FB;
        color: #A8DBFE;
        border: 1px solid #18A0FB;
        box-sizing: border-box;
        border-radius: 6px;
        text-align: center;
        width: 100px;
        height: 40px;
    }
    
